:root {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 0 !important
}

#header {
    position: fixed;
    background: rgba(255, 255, 255, .25);
    top: 0;
    left: 0;
    right: 0;
    bottom: 3.3em;
    height: 3.3em;
    overflow: hidden;
    border-radius: 4px
}

@media (max-height:800px) {
    #header {
        position: relative;
        background: rgba(255, 255, 255, .25);
        top: 0;
        left: 0;
        right: 0;
        bottom: 3.3em;
        height: 3.3em;
        overflow: hidden;
        border-radius: 4px
    }
}

#headerNav {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em
}

#documentationLink {
    margin-right: auto
}

.decorationLessLink {
    text-decoration: none;
    color: #fff
}

#main {
    position: fixed;
    top: 3.3em;
    left: 0;
    right: 0;
    bottom: 3.3em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

@media (max-height:800px) {
    #main {
        position: relative;
        top: 3.3em;
        left: 0;
        right: 0;
        bottom: 3.3em;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}

.contentContainer {
    background: rgba(255, 255, 255, .25);
    border-radius: 16px;
    column-gap: 3em;
    padding: 3em
}

#mainPageLink,
.bigButton {
    text-align: center
}

#mainSubtitle,
#mainTitle {
    font-weight: 100
}

#mainTitle {
    font-size: 3em
}

#mainSubtitle {
    text-align: center;
    color: #fff;
    font-size: 2em
}

#resetButton {
    background-color: #e53935
}

#resetButton:hover {
    background-color: #ab000d
}

#submitButton {
    background-color: #2196f3
}

#submitButton:hover {
    background-color: #0069c0
}

.bigButton,
input {
    border: 0;
    color: #fff
}

.bigButton {
    height: 100%;
    max-height: 4em;
    border-radius: 16px;
    font-size: 1.5em;
    padding: 1.07em;
    transition: all .5s;
    cursor: pointer;
    margin: .5em;
    float: left;
    width: 45%
}

@media (max-width:600px) {
    .bigButton {
        height: 100%;
        width: 100%;
        max-height: 4em;
        border-radius: 16px;
        border: 0;
        text-align: center;
        font-size: 1.5em;
        padding: 1.07em;
        transition: all .5s;
        cursor: pointer;
        margin: .5em;
        float: left
    }
}

fieldset,
legend {
    background: #212121;
    border-radius: 16px
}

fieldset {
    margin: 2em;
    border: solid #7cb342
}

legend {
    color: #fff;
    max-width: 50%;
    border: solid;
    padding-left: 16px;
    padding-right: 16px
}

input {
    width: 100%;
    background: #0000
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .25);
    overflow: hidden;
    border-radius: 4px
}

@media (max-height:800px) {
    #footer {
        position: relative;
        top: 3.3em;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, .25);
        overflow: hidden;
        border-radius: 4px
    }
}

#footerNav {
    height: 3.3em;
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    width: auto
}

#footerNavCredits {
    margin-right: auto;
    color: #fff
}

#bitbucketLink {
    margin-right: .5em
}

.socialImage {
    width: 1.5em;
    height: auto
}