:root {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 0 !important
}

#header {
    position: fixed;
    background: rgba(255, 255, 255, .25);
    top: 0;
    left: 0;
    right: 0;
    bottom: 3.3em;
    height: 3.3em;
    overflow: hidden;
    border-radius: 4px
}

@media (max-height:700px) {
    #header {
        position: relative;
        background: rgba(255, 255, 255, .25);
        top: 0;
        left: 0;
        right: 0;
        height: 3.3em;
        overflow: hidden;
        border-radius: 4px
    }
}

#headerNav {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em
}

#documentationLink {
    margin-right: auto
}

.decorationLessLink {
    text-decoration: none;
    color: #fff
}

#main {
    position: fixed;
    top: 3.3em;
    left: 0;
    right: 0;
    bottom: 3.3em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

@media (max-height:700px) {
    #main {
        position: relative;
        top: 3.3em;
        left: 0;
        right: 0;
        bottom: 3.3em;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}

.contentContainer {
    background: rgba(255, 255, 255, .25);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    padding: 3em
}

@media (max-height:700px) {
    .contentContainer {
        background: rgba(255, 255, 255, .25);
        border-radius: 16px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
        padding: 3em
    }
}

@media (max-width:700px) and (min-height:701px) {
    .contentContainer {
        background: rgba(255, 255, 255, .25);
        border-radius: 16px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 3em;
        column-gap: 3em;
        padding: 3em
    }
}

#mainPageLink {
    grid-column-start: span 2;
    text-align: center
}

@media (max-width:700px) and (min-height:701px) {
    #mainPageLink {
        grid-column-start: 1;
        text-align: center
    }
}

#mainTitle {
    font-size: 3em;
    font-weight: 100
}

#playGameButton {
    background-color: #e53935
}

#playGameButton:hover {
    background-color: #ab000d
}

#addQuestionButton {
    background-color: #7cb342
}

#addQuestionButton:hover {
    background-color: #4b830d
}

.bigButton {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    border: 0;
    text-align: center;
    font-size: 1.5em;
    padding: 1.07em;
    transition: all .5s;
    cursor: pointer;
    color: #fff
}

#playBadge {
    height: 125px;
    width: 100%
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .25);
    overflow: hidden;
    border-radius: 4px
}

@media (max-height:700px) {
    #footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        top: 3.3em;
        background: rgba(255, 255, 255, .25);
        overflow: hidden;
        border-radius: 4px
    }
}

#footerNav {
    height: 3.3em;
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    width: auto
}

#footerNavCredits {
    margin-right: auto;
    color: #fff
}

#bitbucketLink {
    margin-right: .5em
}

.socialImage {
    width: 1.5em;
    height: auto
}